<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.brandonbosse.voice_mailer.voice_mailer">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Voice Mailer">
	</application>
</manifest>
